<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Sneakers</title>
    <link rel="stylesheet" href="res/style.css">
</head>
<body>
<h1>Sneakers</h1>

<form method="POST" class="searchBar">
    <input type="text" name="filter">
    <button type="submit">Search</button>
</form>

<ul>
    <th:block th:each="pair : ${allSneakers}">
        <p th:utext="${pair.brand} + ' ' + ${pair.model}"></p>
        <p th:utext="'Recommended use: ' + ${pair.sport}"></p>
        <p th:utext="'Amount: ' + ${pair.amount}"></p>
        <a th:href="@{'/edit/' + ${pair.id}}">edit</a>
        <a th:href="@{'/delete/' + ${pair.id}}">delete</a>
    </th:block>
</ul>

<p class="adder">
    <br>
    <a href="/add">Add new pair</a>
</p>

<!--form action="/logout" method="post">
    <input type="submit" value="Sign Out"/>
</form-->

<div>
    <p th:if="${auth} == true"><a href="/login">Log In</a></p>
    <p th:unless="${auth} == true"><a href="/logout">Log Out</a></p>
</div>

<!--form th:action="@{/j_spring_security_logout}" method="POST">
    <div><input type="submit" value="Log Out"/></div>
</form-->



</body>
</html>