<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit pair</title>
    <link rel="stylesheet" href="res/style.css">
</head>
<body>
<h1>Sneakers</h1>

<form action="/edit" th:object="${pair}" method="POST">
    <input type="hidden" name="id" th:value="${pair.id}">
    <label for="brand">Brand</label>
    <input type="text" name="brand" id="brand" th:value="${pair.brand}">
    <label for="sport">Sport</label>
    <input type="text" name="sport" id="sport" th:value="${pair.sport}">
    <label for="model">Model</label>
    <input type="text" name="model" id="model" th:value="${pair.model}">
    <label for="amount">Amount</label>
    <input type="text" name="amount" id="amount" th:value="${pair.amount}">
    <input type="submit" value="Edit pair">
</form>

</body>
</html>